:root {
  --primary-text-color: #000000;
  --accent-color: #074DFF;
  --btn-text-color: #ffffff;
  --title-color: #11385C;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat Alternates", sans-serif;
  color: var(--primary-text-color);
}

button {
  cursor: pointer;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", cursive;
}

input, textarea {
  outline: none;
}

.btn {
  background-color: var(--accent-color);
  color: var(--btn-text-color);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  width: 195px;
  height: 45px;
  border: none;
  font-family: "Comfortaa", cursive;
  -webkit-transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), border-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), border-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover, .btn:focus {
  background-color: var(--btn-text-color);
  color: var(--accent-color);
  border: 2px solid transparent;
  border-color: var(--accent-color);
  -webkit-transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1), border-color 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1), border-color 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.no-scroll {
  overflow: hidden;
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: 0 auto;
  }
}

.backdrop {
  z-index: 3;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: fixed;
  top: 0;
  -webkit-transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.modal {
  min-height: 525px;
  z-index: 3;
  border-radius: 4px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px;
  -webkit-transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 38px;
  line-height: 1.2105263158;
  margin-bottom: 18px;
  color: var(--title-color);
}

.modal__btnclose {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  border: none;
  background-color: transparent;
  -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), border 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), border 300ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 17px;
  right: 16px;
}

.modal__btnclose:hover svg {
  fill: var(--accent-color);
  -webkit-transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__icon-close {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  fill: #adacb1;
  -webkit-transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal__input-container--left {
  padding: 20px;
  width: 302px;
}

.modal__input-container--right {
  width: 302px;
  padding: 20px;
}

.label-span {
  display: inline;
  color: red;
}

.modal__input-name {
  width: 100%;
  margin-bottom: 40px;
  height: 40px;
  padding: 15px;
  -webkit-transition: border-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid #ADACB1;
}

.modal__input-name:focus {
  border: 1px solid var(--accent-color);
}

.modal__input-name:invalid {
  border: 1px solid #F50000;
}

.modal__input-tel {
  height: 40px;
  margin-bottom: 40px;
  width: 100%;
  padding: 15px;
  -webkit-transition: border-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid #ADACB1;
}

.modal__input-tel:focus {
  border: 1px solid var(--accent-color);
}

.modal__input-tel:invalid {
  border: 1px solid #F50000;
}

.select {
  width: 100%;
  height: 40px;
  outline: none;
  border: 1px solid #ADACB1;
}

.help {
  position: absolute;
  bottom: 70px;
  font-size: 14px;
}

.label__textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 41px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.modal__textarea {
  resize: none;
  width: 100%;
  height: 138px;
  padding: 15px;
  -webkit-transition: border-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid #ADACB1;
}

.modal__textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

.modal__textarea:focus::-moz-placeholder {
  color: transparent;
}

.modal__textarea:focus:-ms-input-placeholder {
  color: transparent;
}

.modal__textarea:focus::-ms-input-placeholder {
  color: transparent;
}

.modal__textarea:focus::placeholder {
  color: transparent;
}

.modal__textarea:focus {
  border: 1px solid var(--accent-color);
}

.modal__input-email {
  height: 40px;
  width: 100%;
  padding: 15px;
  margin-bottom: 40px;
  -webkit-transition: border-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid #ADACB1;
}

.modal__input-email:focus {
  border: 1px solid var(--accent-color);
}

.modal__btnsubmit {
  width: 195px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--accent-color);
  color: var(--btn-text-color);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  width: 195px;
  height: 45px;
  border: none;
  font-family: "Comfortaa", cursive;
  -webkit-transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), border-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), border-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__btnsubmit:hover,
.modal__btnsubmit:focus {
  background-color: var(--btn-text-color);
  color: var(--accent-color);
  border: 2px solid transparent;
  border-color: var(--accent-color);
  -webkit-transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1), border-color 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1), border-color 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 74px;
  height: 144px;
  background-color: #F5F5F5;
  width: 100%;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .header {
    height: 72px;
    position: relative;
  }
}

@media screen and (min-width: 1200px) {
  .header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1200px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 375px;
    padding-right: 20px;
    padding-left: 20px;
    margin: 0 auto;
  }
}

.header__title {
  font-family: "Comfortaa", cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 48px;
  line-height: 1.21;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--title-color);
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 20px;
    line-height: 1.3;
    width: 157px;
    padding-top: 10px;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .header__title {
    width: 378px;
    margin-right: 38px;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .nav {
    display: none;
  }
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__item {
  font-weight: 500;
  color: var(--primary-text-color);
}

.header__item:nth-child(1) {
  width: 85px;
}

.header__item:nth-child(2) {
  width: 92px;
}

.header__item:nth-child(3) {
  width: 113px;
}

.header__item:not(:last-child) {
  margin-right: 55px;
}

.header__link {
  letter-spacing: 0.05em;
  font-style: normal;
  font-size: 17px;
  line-height: 1.3;
  display: block;
  height: 100%;
  color: var(--primary-text-color);
  -webkit-transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link:hover, .header__link:focus {
  color: var(--accent-color);
  -webkit-transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 23px;
  line-height: 1.02;
  color: var(--primary-text-color);
  -webkit-transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1), fill 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1), fill 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__tel {
    display: none;
  }
}

.header__tel:hover, .header__tel:focus {
  color: var(--accent-color);
  -webkit-transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__tel:hover svg,
.header__tel:focus svg {
  fill: var(--accent-color);
  -webkit-transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__tel-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: var(--primary-text-color);
  -webkit-transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu__btn {
  border: none;
  background-color: transparent;
  z-index: 3;
}
@media screen and (min-width: 1200px) {
  .mob-menu__btn {
    display: none;
  }
}

.mob-menu__btn.is-open .mob-menu__icon--close {
  display: block;
}

.mob-menu__btn.is-open .mob-menu__icon--open {
  display: none;
}

.mob-menu__btn.is-open {
  position: absolute;
  top: 24px;
  right: 20px;
}

.mob-menu__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: var(--title-color);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .mob-menu__icon {
    display: none;
  }
}

.mob-menu__icon--close {
  display: none;
  width: 22px;
  height: 15px;
}

.mob-menu__icon--open {
  width: 100px;
  height: 100px;
}

.mob-menu {
  position: absolute;
  position: fixed;
  background-color: #F7F8FD;
  width: 265px;
  right: 0;
  height: 100vh;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: translate 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: translate 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1), translate 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1), translate 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .mob-menu {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .mob-menu .container {
    max-width: 375px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .mob-menu .container {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .mob-menu .container {
    display: none;
  }
}

.mob-menu.is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: translate 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: translate 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1), translate 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1), translate 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

.mob-menu__list {
  padding-top: 86px;
  border: 1px solid #EFF2F4;
  width: 265px;
}

.mob-menu__item {
  border: 1px solid #EFF2F4;
  padding: 25px 20px;
  font-size: 16px;
  line-height: 1.375;
  color: var(--title-color);
  font-family: "Comfortaa", cursive;
  font-weight: 700;
}

.passeggio {
  width: 100%;
  margin-bottom: 212px;
}

@media screen and (min-width: 1200px) {
  .passeggio .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1200px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .passeggio .container {
    width: 480px;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .passeggio__box--left {
    width: 424px;
    margin-right: auto;
    margin-top: 81px;
  }
}

.passeggio__text {
  color: var(--primary-text-color);
  margin-bottom: 10px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.7222222222;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .passeggio__text {
    font-size: 16px;
    line-height: 1.3125;
  }
}

.passeggio__text--bottom {
  color: var(--accent-color);
  margin-bottom: 80px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.7222222222;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .passeggio__text--bottom {
    font-size: 16px;
    line-height: 1.3125;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .passeggio__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 140px;
    height: 36px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    font-size: 11px;
    line-height: 1.6666666667;
  }
}

.visita {
  width: 100%;
  margin-bottom: 170px;
}

@media screen and (min-width: 1200px) {
  .visita .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1200px;
    margin: 0 auto;
  }
}

.visita__box--right {
  margin-left: auto;
}

.visita__title {
  margin-bottom: 50px;
  color: var(--title-color);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2083333333;
  margin-top: 77px;
}

.visita__text {
  color: var(--primary-text-color);
  margin-bottom: 10px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.8235294118;
}

.visita__text--bottom {
  color: var(--accent-color);
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.7222222222;
  font-family: "Montserrat Alternates", sans-serif;
}

.sitter {
  width: 100%;
  margin-bottom: 94px;
}

@media screen and (min-width: 1200px) {
  .sitter .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1200px;
    margin: 0 auto;
  }
}

.sitter__box--right {
  width: 467px;
  margin-right: auto;
}

.sitter__title {
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2083333333;
  color: var(--title-color);
}

.sitter__text {
  font-weight: 500;
  font-size: 17px;
  line-height: 1.7222222222;
  margin-bottom: 10px;
  font-family: "Montserrat Alternates", sans-serif;
  color: var(--primary-text-color);
}

.sitter__text--bottom {
  font-weight: 500;
  font-size: 17px;
  line-height: 1.7222222222;
  font-family: "Montserrat Alternates", sans-serif;
  color: var(--accent-color);
  margin-bottom: 50px;
}

.altri {
  width: 100%;
  margin-bottom: 70px;
}

@media screen and (min-width: 1200px) {
  .altri .container {
    width: 1200px;
    margin: 0 auto;
  }
}

.altri__box--left {
  width: 483px;
  padding: 51px 25px;
  border: 2px solid var(--accent-color);
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  -webkit-transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.altri__box--left:hover, .altri__box--left:focus {
  background-color: var(--accent-color);
  color: var(--btn-text-color);
  -webkit-transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.altri__box--right {
  width: 483px;
  padding: 51px 25px;
  border: 2px solid var(--accent-color);
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  -webkit-transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.altri__box--right:hover, .altri__box--right:focus {
  background-color: var(--accent-color);
  color: var(--btn-text-color);
  -webkit-transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.altri__title {
  font-weight: 500;
  font-size: 38px;
  line-height: 1.2631578947;
  margin-bottom: 48px;
  color: var(--title-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.altri__box-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 238px;
  gap: 20px;
}

.footer {
  width: 100%;
  background-color: #F7F8FD;
  position: relative;
}
.footer__list-wrap {
  padding: 63px 0;
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 58px;
}
.footer__item {
  color: #ADACB1;
  font-size: 19px;
  line-height: 1.2105263158;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__item:not(:last-child) {
  border-right: 1px solid #D9D9D9;
  padding-right: 84px;
}
.footer__item:nth-child(2) {
  padding-left: 84px;
}
.footer__item:nth-child(3) {
  padding-left: 84px;
}
.footer__item:nth-child(4) {
  padding-left: 84px;
}

@media screen and (min-width: 1200px) {
  .footer .container {
    width: 1200px;
    margin: 0 auto;
  }
}/*# sourceMappingURL=main.css.map */