:root {
  --primary-text-color: #000000;
  --accent-color: #074DFF;
  --btn-text-color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat Alternates", sans-serif;
  color: var(--primary-text-color);
}

button {
  cursor: pointer;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", cursive;
}

.btn {
  background-color: var(--accent-color);
  color: var(--btn-text-color);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  width: 195px;
  height: 45px;
  border: none;
  font-family: "Comfortaa", cursive;
  -webkit-transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), border-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), border-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover, .btn:focus {
  background-color: var(--btn-text-color);
  color: var(--accent-color);
  border: 2px solid transparent;
  border-color: var(--accent-color);
  -webkit-transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1), border-color 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1), border-color 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: 0 auto;
    margin-left: 15px;
    margin-right: 15px;
  }
}

.backdrop {
  z-index: 3;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: fixed;
  top: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(0, 0, 0, 0.2);
}

.modal {
  min-height: 581px;
  background-color: #fff;
  z-index: 3;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px;
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 320px) and (max-width: 450px) {
  .modal {
    width: calc(100% - 30px);
  }
}
.modal__btnclose {
  border-radius: 50%;
  background-color: var(--btntext-hover);
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  position: absolute;
  right: 8px;
  top: 8px;
}
.modal__btnclose:hover > svg, .modal__btnclose:focus > svg {
  fill: var(--accent-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btnclose-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: ill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: ill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 0;
  margin-bottom: 12px;
}
.modal__label {
  margin-bottom: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  display: block;
}
.modal__input-container:hover > .modal__input, .modal__input-container:focus > .modal__input {
  border-color: var(--accent-color);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input-container {
  position: relative;
  height: 40px;
  margin-bottom: 10px;
}
.modal__textarea-label {
  display: block;
  margin-bottom: 4px;
  font-family: "Roboto";
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}
.modal__input-container:hover > svg, .modal__input-container:focus > svg {
  fill: var(--accent-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input {
  outline: none;
  width: 100%;
  margin-bottom: 10px;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.modal__input-icon {
  top: 0;
  left: 0;
  position: absolute;
  left: 12px;
  top: 11px;
}
.modal__textarea-container {
  margin-bottom: 20px;
}
.modal__textarea-container:hover > .modal__textarea, .modal__textarea-container:focus > .modal__textarea {
  border-color: var(--accent-color);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__textarea {
  width: 100%;
  resize: none;
  outline: none;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 12px 16px;
}
.modal__checkbox-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.modal__def-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.modal__label-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 8px;
  margin-bottom: 30px;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin: 0;
  margin-bottom: 30px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .modal__label-checkbox {
    font-size: 12px;
    line-height: 1.1666666667;
  }
}
.modal__label-checkbox::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
}
@media screen and (min-width: 320px) and (max-width: 430px) {
  .modal__label-checkbox::before {
    width: 26px;
    height: 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .modal__label-checkbox::before {
    width: 19px;
  }
}
.modal__def-checkbox:checked + .modal__label-checkbox::before {
  background-color: var(--accent-color);
  border: none;
  background-image: url(../images/checked2.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.modal__checkbox-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--accent-color);
  margin-left: 5px;
}
@media screen and (min-width: 1200px) {
  .modal__checkbox-link {
    font-size: 14px;
    line-height: 1.71;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .modal__checkbox-link {
    font-size: 12px;
    line-height: 1.1666666667;
    display: contents;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .modal__checkbox-link {
    display: contents;
    font-size: 14px;
    line-height: 1.71;
    height: 14px;
  }
}
.modal__btnsubmit {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.85;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--btntext-hover);
  background: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
}
.modal__btnsubmit:hover {
  background-color: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.no-scroll {
  overflow: hidden;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 74px;
  height: 144px;
  background-color: #F5F5F5;
  width: 100%;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.header__title {
  font-family: "Comfortaa", cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 48px;
  line-height: 1.21;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 38px;
  color: var(--primary-text-color);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__item {
  font-weight: 500;
  color: var(--primary-text-color);
}

.header__item:nth-child(1) {
  width: 85px;
}

.header__item:nth-child(2) {
  width: 92px;
}

.header__item:nth-child(3) {
  width: 113px;
}

.header__item:not(:last-child) {
  margin-right: 55px;
}

.header__link {
  letter-spacing: 0.05em;
  font-style: normal;
  font-size: 17px;
  line-height: 1.3;
  display: block;
  height: 100%;
  color: var(--primary-text-color);
  -webkit-transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link:hover, .header__link:focus {
  color: var(--accent-color);
  -webkit-transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 23px;
  line-height: 1.02;
  color: var(--primary-text-color);
  -webkit-transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1), fill 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1), fill 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__tel:hover, .header__tel:focus {
  color: var(--accent-color);
  -webkit-transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__tel:hover svg,
.header__tel:focus svg {
  fill: var(--accent-color);
  -webkit-transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__tel-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: var(--primary-text-color);
  -webkit-transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.passeggio {
  width: 100%;
  margin-bottom: 212px;
}

.passeggio .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.passeggio__box--left {
  width: 424px;
  margin-right: auto;
  margin-top: 81px;
}

.passeggio__text {
  color: var(--primary-text-color);
  margin-bottom: 10px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.7222222222;
}

.passeggio__text--bottom {
  color: var(--accent-color);
  margin-bottom: 80px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.7222222222;
}

.visita {
  width: 100%;
  margin-bottom: 170px;
}

.visita .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.visita__box--right {
  margin-left: auto;
}

.visita__title {
  margin-bottom: 50px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2083333333;
  margin-top: 77px;
}

.visita__text {
  color: var(--primary-text-color);
  margin-bottom: 10px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.8235294118;
}

.visita__text--bottom {
  color: var(--accent-color);
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.7222222222;
  font-family: "Montserrat Alternates", sans-serif;
}

.sitter {
  width: 100%;
  margin-bottom: 203px;
}

.sitter .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  margin: 0 auto;
  margin-right: 15px;
}

.sitter__box--right {
  width: 467px;
  margin-right: auto;
}

.sitter__title {
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2083333333;
}

.sitter__text {
  font-weight: 500;
  font-size: 17px;
  line-height: 1.7222222222;
  margin-bottom: 10px;
  font-family: "Montserrat Alternates", sans-serif;
  color: var(--primary-text-color);
}

.sitter__text--bottom {
  font-weight: 500;
  font-size: 17px;
  line-height: 1.7222222222;
  font-family: "Montserrat Alternates", sans-serif;
  color: var(--primary-text-color);
  margin-bottom: 50px;
}

.altri {
  width: 100%;
  margin-bottom: 115px;
}

.altri .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.altri__box_right {
  width: 467px;
  margin-left: auto;
}

.altri__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 58px;
  margin-bottom: 50px;
}

.altri__text {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.8;
  font-family: "Montserrat Alternates", sans-serif;
}

.altri__text--bottom {
  margin-bottom: 50px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.8;
}/*# sourceMappingURL=main.css.map */