:root {
  --primary-text-color: #000000;
  --accent-color: #074DFF;
  --btn-text-color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat Alternates", sans-serif;
  color: var(--primary-text-color);
}

button {
  cursor: pointer;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", cursive;
}

.btn {
  background-color: var(--accent-color);
  color: var(--btn-text-color);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  width: 195px;
  height: 45px;
  border: none;
  font-family: "Comfortaa", cursive;
  -webkit-transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), border-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), border-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover, .btn:focus {
  background-color: var(--btn-text-color);
  color: var(--accent-color);
  border: 2px solid transparent;
  border-color: var(--accent-color);
  -webkit-transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1), border-color 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1), border-color 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: 0 auto;
    margin-left: 15px;
    margin-right: 15px;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 74px;
  height: 144px;
  background-color: #F5F5F5;
  width: 100%;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.header__title {
  font-family: "Comfortaa", cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 48px;
  line-height: 1.21;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 38px;
  color: var(--primary-text-color);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__item {
  font-weight: 500;
  color: var(--primary-text-color);
}

.header__item:nth-child(1) {
  width: 85px;
}

.header__item:nth-child(2) {
  width: 92px;
}

.header__item:nth-child(3) {
  width: 113px;
}

.header__item:not(:last-child) {
  margin-right: 55px;
}

.header__link {
  letter-spacing: 0.05em;
  font-style: normal;
  font-size: 17px;
  line-height: 1.3;
  display: block;
  height: 100%;
  color: var(--primary-text-color);
  -webkit-transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link:hover, .header__link:focus {
  color: var(--accent-color);
  -webkit-transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 23px;
  line-height: 1.02;
  color: var(--primary-text-color);
  -webkit-transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1), fill 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1), fill 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__tel:hover, .header__tel:focus {
  color: var(--accent-color);
  -webkit-transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__tel:hover svg,
.header__tel:focus svg {
  fill: var(--accent-color);
  -webkit-transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__tel-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: var(--primary-text-color);
  -webkit-transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.passeggio {
  width: 100%;
  margin-bottom: 212px;
}

.passeggio .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.passeggio__box--left {
  width: 424px;
  margin-right: auto;
  margin-top: 81px;
}

.passeggio__text {
  color: var(--primary-text-color);
  margin-bottom: 10px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.7222222222;
}

.passeggio__text--bottom {
  color: var(--accent-color);
  margin-bottom: 80px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.7222222222;
}

.visita {
  width: 100%;
  margin-bottom: 170px;
}

.visita .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.visita__box--right {
  margin-left: auto;
}

.visita__title {
  margin-bottom: 50px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2083333333;
  margin-top: 77px;
}

.visita__text {
  color: var(--primary-text-color);
  margin-bottom: 10px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.8235294118;
}

.visita__text--bottom {
  color: var(--accent-color);
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.7222222222;
  font-family: "Montserrat Alternates", sans-serif;
}

.sitter {
  width: 100%;
  margin-bottom: 203px;
}

.sitter .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  margin: 0 auto;
  margin-right: 15px;
}

.sitter__box--right {
  width: 467px;
  margin-right: auto;
}

.sitter__title {
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2083333333;
}

.sitter__text {
  font-weight: 500;
  font-size: 17px;
  line-height: 1.7222222222;
  margin-bottom: 10px;
  font-family: "Montserrat Alternates", sans-serif;
  color: var(--primary-text-color);
}

.sitter__text--bottom {
  font-weight: 500;
  font-size: 17px;
  line-height: 1.7222222222;
  font-family: "Montserrat Alternates", sans-serif;
  color: var(--accent-color);
  margin-bottom: 50px;
}

.altri {
  width: 100%;
  margin-bottom: 115px;
}

.altri .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.altri__box_right {
  width: 467px;
  margin-left: auto;
}

.altri__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 58px;
  margin-bottom: 50px;
}

.altri__text {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.8;
  font-family: "Montserrat Alternates", sans-serif;
}

.altri__text--bottom {
  margin-bottom: 50px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.8;
  color: var(--accent-color);
}/*# sourceMappingURL=main.css.map */