.altri {
    width: 100%;
    margin-bottom: 70px;
}
.altri .container {
    @include desktop {
        width: 1200px;
            margin: 0 auto;
    }
}
.altri__box--left {
    width: 483px;
    padding: 51px 25px;
    border: 2px solid var(--accent-color);
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 20px;
    line-height: calc(36px / 24px);
    transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.altri__box--left:hover, .altri__box--left:focus {
    background-color: var(--accent-color);
    color: var(--btn-text-color);
    transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.altri__box--right {
    width: 483px;
    padding: 51px 25px;
    border: 2px solid var(--accent-color);
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 20px;
    line-height: calc(36px / 24px);
    transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.altri__box--right:hover, .altri__box--right:focus  {
    background-color: var(--accent-color);
    color: var(--btn-text-color);
    transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.altri__title {
    font-weight: 500;
    font-size: 38px;
    line-height: calc(48px / 38px);
    margin-bottom: 48px;
    color: var(--title-color);
    display: flex;
    justify-content: center;
}
.altri__box-wrap {
    display: flex;
    justify-content: center;
    height: 238px;
    gap: 20px;
}