.passeggio {
    width: 100%;
    margin-bottom: 212px;
    @include desktop {
        padding-top: calc(74px + 125px);
    } 
    @include mobile {
        padding-top: 78px;
    }
}
.passeggio .container {
    @include desktop {
        display: flex;
            width: 1200px;
            margin: 0 auto;
    
    }
    @include mobile {
        display: flex;
        flex-direction: column-reverse;
        max-width: 375px;
        margin: 0 auto;
        padding-right: 20px;
        padding-left: 20px;
    }
}

.passeggio__box--left {
    @include desktop {
        width: 424px;
        margin-right: auto;
        margin-top: 81px;
    }
}

.passeggio__text {
    color: var(--primary-text-color);
    margin-bottom: 10px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: calc(31 / 18);
    @include mobile {
        font-size: 16px;
        line-height: calc(21 / 16);
    }
}

.passeggio__text--bottom {
    color: var(--accent-color);
    margin-bottom: 80px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: calc(31 / 18);
    @include mobile {
        font-size: 16px;
        line-height: calc(21 / 16);
        margin-bottom: 15px;
    }
}
.passeggio__btn {
    @include mobile {
        display: flex;
        width: 140px;
        height: 36px;
        align-items: center;
        margin: 0 auto;
        font-size: 12px;
        line-height: calc(20px / 12px);
        justify-content: center;
        font-weight: 400;
    }
}