.sitter {
    width: 100%;
    margin-bottom: 70px;
    @include mobile {
        margin-bottom: 40px;
    }
}
.sitter .container {
    @include desktop {
        display: flex;
            max-width: 1200px;
            margin: 0 auto;
    }
    @include mobile {
        max-width: 375px;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.sitter__box--left {
}

.sitter__img {
    @include mobile {
        width: 308px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    @include desktop {
        width: 539px;
        margin: 0 auto;
    }
}

.sitter__title {
    margin-bottom: 50px;
    font-weight: 500;
    font-size: 40px;
    line-height: calc(58 / 48);
    color: var(--title-color);
    @include mobile {
        font-weight: 400;
        font-size: 20px;
        line-height: 1.2;
        text-align: center;
        margin-bottom: 15px;
    }
}

.sitter__text {
    font-weight: 500;
    font-size: 17px;
    line-height: calc(31 / 18);
    margin-bottom: 10px;
    font-family: 'Montserrat Alternates', sans-serif;
    color: var(--accent-color);
}

.sitter__text--bottom {
    font-weight: 500;
    font-size: 17px;
    line-height: calc(31 / 18);
    font-family: 'Montserrat Alternates', sans-serif;
    color: var(--primary-text-color);
    margin-bottom: 50px;
    @include mobile {
        margin-bottom: 15px;
    }
}


.sitter__row {
    display: flex;

    @include mobile {
        display: grid;
    }

}

.sitter__picture-row {
    @include desktop {
        width: 539px;
        margin-left: 209px;
    }

    @include mobile {
        order: 2;
    }

}

.sitter__title-thumb {
    @include mobile {
        display: none;
    }
}

.sitter__title-row {
    @include mobile {
        order: 3;
    }

    @include desktop {
        display: none;
    }

}

.sitter__text-row {
    @include mobile {
        order: 1;
    }
    @include desktop {
        width: 467px;
        margin-right: auto;
    }
}



.sitter__row {
    display: flex;
    @include mobile {
        flex-direction: column-reverse;
    }

}



.sitter__box--left {
    @include desktop {
    }

}