.sitter {
    width: 100%;
    margin-bottom: 203px;
}
.sitter .container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    margin-right: 15px;
}

.sitter__box--right {
    width: 467px;
    margin-right: auto;
}

.sitter__title {
    margin-bottom: 50px;
    font-weight: 500;
    font-size: 40px;
    line-height: calc(58 / 48);
}

.sitter__text {
    font-weight: 500;
    font-size: 17px;
    line-height: calc(31 / 18);
    margin-bottom: 10px;
    font-family: 'Montserrat Alternates', sans-serif;
    color: var(--primary-text-color);
}

.sitter__text--bottom {
    font-weight: 500;
    font-size: 17px;
    line-height: calc(31 / 18);
    font-family: 'Montserrat Alternates', sans-serif;
    color: var(--accent-color);
    margin-bottom: 50px;
}