html {
    scroll-behavior: smooth;
}

@font-face {
font-family: 'Otomanopee One';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/OtomanopeeOne-Regular.ttf);


}

body {
    margin: 0;
    padding: 0;
    font-family: 'Otomanopee One';
    font-style: normal;
        font-weight: 400;
    // font-family: 'Montserrat Alternates', sans-serif;
    color: var(--primary-text-color);
    
}

button {
    cursor: pointer;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

p {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
}

input, textarea {
    outline: none;
    
}
// input[type="number"]::-webkit-outer-spin-button,
// input[type="number"]::-webkit-inner-spin-button {
//     -webkit-appearance: none;
// }
// input[type='number'],
// input[type="number"]:hover,
// input[type="number"]:focus {
//     appearance: none;
//     -moz-appearance: textfield;
// }